/** Reset Browser Settings **/

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;     
}


/** Selection Color **/

::selection {
    background: #e6f5ff; /** WebKit/Blink Browsers **/
    
}
::-moz-selection {
    background: #e6f5ff; /** Gecko Browsers **/
}


/** Main definitions **/

main {
    display: block; /** Fallback for IE9-11 **/
    background: #f8f8f8;
}


/** Header **/

header {
    height: auto;
    width: 100%;
    background: #FFFFFF;
}

.heading-title {
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 1px; 
    line-height: 130%;
    color: #3C3C3C;
    margin: 25px 0px 0px 30px;
}

.heading-title-info {
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 1px; 
    line-height: 150%;
    color: #3C3C3C;
    margin: 0px 0px 30px 30px;
}

/** Navigation **/


#non-mobile-nav {
    display: none;
    margin: 50px;
}

#non-mobile-nav.stick {
    margin-top: 0px;
    position: fixed;
    top: 50px;
    width: calc(17.5% - 100px);
    -webkit-width: calc(17.5% - 100px);
    -moz-width: calc(17.5% - 100px);
}

.navigation-title {
    font-size: 12px;
    font-weight: 700;
    color: #3C3C3C;
}

.navigation-list {
    font-size: 12px;
    font-weight: 300;
    color: #3C3C3C;
}

#navigationinner {
    margin: 50px 0px 50px 20px;
}

button.open-menu { /** Button style **/
    background-color: #FFFFFF;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: middle;
    font-size: 16px;
    font-weight: 300;
    color: #333333;
    border: none;
    border-top: solid 1px #f8f8f8;
    border-bottom: solid 1px #FFFFFF;
    outline: none;
    transition: 0.4s;
}

button.open-menu:after { /** Text in Button when closed **/
    content: "Menu öffnen";
}

button.open-menu.active:after { /** Text in Button when opened **/
    content: "Menu schliessen";
}

button.open-menu:hover { /** Mouseover status **/
    background: #f8f8f8;
}

button.open-menu.active { /** Activ status **/
    border-bottom: solid 1px #f8f8f8;
}

div.navigationouter { /** Wrapper for navigation, which is loaded with js **/
    padding: 0px 0px 0px 20px;
    background-color: #FFFFFF;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
} 


/** Background heading color **/

#background-header {
    width: 100%;
    height: 40vh;
    background: #005F97; 
}


/** Colum **/

#left-colum {
    float: left;
}

#left-colum:after {    
    content: "\00a0 ";
}

#middle-colum {
    background-color: #FFFFFF;
    float: left;
    display: inline-block;
    height: auto;
    margin-top: -25vh;
    margin-bottom: 100px;
    border-radius: 2px;
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.13);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.13);
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.13);
    position: relative;
}

#middle-colum-inner:after {
    position: absolute;
    bottom: -30px;
    content: "Lars Mäder © 2017";
    margin-left: -50px;
    font-size: 12px;
    font-weight: 300;
    color: #C3C3C3;
}

#middle-colum-inner {
    margin: 50px;
}

#right-colum {
    float: left;
    display: inline-block;
}

#right-colum:after {    
    content: "\00a0";
}


/** Article accessoire **/

img.article-image {
    width: 100%;
    height: 200px;
    background-color: #C3C3C3;
    border-radius: 2px;
    transition: 0.2s ease-out;
    margin: 5px 0px 5px 0px;
}

img.article-image:hover {
    opacity: 0.9;
    filter: alpha opacity(=90); /** Fallback for IE8 and earlier **/
}

hr.article-line {
    border: 0;
    border-top: 1px solid #C3C3C3;
    margin: 50px 0px 50px 0px;
}

hr.before-h2 {
    margin-bottom: 40px;
}

.article-time {
    color: #005F97;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 8px;
}


/** Font-Style **/

p {
    color: #3C3C3C;
    font-size: 16px;
    font-weight: 300;
    line-height: 140%;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
}

h2 {
    color: #3C3C3C;
    font-size: 32px;
    font-weight: 100;
    line-height: 140%;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

h3 {
    color: #005F97;
    font-size: 22px;
    font-weight: 100;
    line-height: 140%;
    letter-spacing: 1px;
    padding-bottom: 25px;
}

h3.before-h4 {
    padding-bottom: 10px;
}

h4 {
    color: #3C3C3C;
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0.4px;
    margin-top: 20px;
}

.bold {
    font-weight: 700;
}


ul {
    color: #3C3C3C;
    list-style-position: inside;
    font-size: 16px;
    font-weight: 300;
    line-height: 140%;
    letter-spacing: 0.5px;
    margin: 0px 0px 10px 0px;
    padding: 0;
    list-style: none;
}

ul li:before {
    font-family: "FontAwesome";
    content: "\f105";
    margin-right: 5px;
    color: #005F97;
}

.side-nav-active {
    color: #005F97 !important;
}

li.side-nav:before {
    color: #C3C3C3;
}

li.side-nav {
    margin: 0px 0px 10px 10px;
    font-size: 13px;
    line-height: 140%;
    text-indent: -10px;
}

ul li a:link, ul li a:visited {
    text-decoration: none;
    color: #C3C3C3;
}

ul li a:hover, ul li a:active {
    color: #005F97;
}