/** Start Reset **/

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', 'Helvetica Neue', sans-serif;     
}


/** Selection **/

::selection {
    background: #ff6d6d; /* WebKit/Blink Browsers */
    
}
::-moz-selection {
    background: #ff6d6d; /* Gecko Browsers */
}

body {
    background-color: #f8f8f8;
}

/** Header **/

header {
    height: 60px;
    width: 100%;
}

#background-header {
    width: 100%;
    height: 40vh;
    background: #005F97; 
}



/** Colum **/

#left-colum {
    width: 220px;
    float: left;
    margin: 50px 0px 0px 30px;
}

#right-colum {
    width: -webkit-calc(90% - 250px);
    width:    -moz-calc(90% - 250px);
    width:         calc(90% - 250px);
    background-color: #FFFFFF;
    float: left;
    height: 100vh;
    display: inline-block;
    margin-top: -35vh;
    margin-bottom: 100px;
    border-radius: 2px;
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.13);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.13);
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.13);
}


/** Font-Style **/

ul {
    list-style-position: inside;
}

